extends layout

block content
  h1= title
  p Welcome to the #{title}

  div
    - var redled = 1
    - var greenled = 0
    - var blueled = 1
    - var btnType = 'info'
    - var btnSize = 'lg'

    table
      thead
        tr: th LED  LED Status  Toggle
      tbody
        tr
          td
            a(href='/javascript/redled.js') RED
          td
            case redled
              when 1
                img.className#IdName(src="/images/red_led_1.png" alt="Red LED On")
              default
                img.className#IdName(src="/images/red_led_0.png" alt="Red LED Off")
          td
            button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) = '\n'
            button(type='button' class=`btn btn-${btnType} btn-${btnSize}`)
        tr
          td
            a(href='/javascript/greenled.js') GREEN
          td
            case greenled
              when 1
                img.className#IdName(src="../public/images/green_led_1.png" alt="Green LED On")
              default
                img.className#IdName(src="../public/images/green_led_0.png" alt="Green LED Off")
          td
            button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) = '\n'
            button(type='button' class=`btn btn-${btnType} btn-${btnSize}`)
        tr
          td
            a(href='/javascript/blueled.js') BLUE
          td
            case blueled
              when 1
                img.className#IdName(src="../public/images/blue_led_1.png" alt="Blue LED On")
              default
                img.className#IdName(src="../public/images/blue_led_0.png" alt="Blue LED Off")
          td
            button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) = '\n'
            button(type='button' class=`btn btn-${btnType} btn-${btnSize}`)
